---
layout: default
title: Works
permalink: /works/
---

{% include header.html %}

<div class="wrapper">

    <!-- Most recent post -->
    <div class="featured">
        {% for post in site.works reversed %}
            <div class="banner">
                
                <div class="banner-content">
                    <h1 class="banner-title">{{post.title}}</h1>
                    <div class="tags">
                        {% for tag in post.tags %}
                            <p class="tag {{tag}}">{{tag}}</p>
                        {% endfor %}
                    </div>
                    <h2 class="banner-date">{{post.date | date: '%B %Y'}}</h2>
                    <p class="banner-copy">{{post.description}}</p>
                    <div class="CTA-wrapper">
                        <div class="CTA">
                            <a href={{post.url | prepend: site.baseurl}}>
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="video-container">
                    <div class="color-overlay"></div>
                    <video autoplay loop muted poster={{post.image}}>
                        <source src={{"../" | prepend: site.baseurl | append: post.banner-video-webm}} type="video/webm">
                        <source src={{"../" | prepend: site.baseurl | append: post.banner-video-mp4}} type="video/mp4">
                    </video>
                </div>

            </div>
            {% break %}
        {% endfor %}
    </div>

    <!-- The remaining post entries in rows of 3 -->
    <div class="entries">
    {% assign loop_length = site.works.size | minus: 1 %}
    {% for post in site.works reversed limit: loop_length  %}

        <div class="entry">
            <a href={{post.url | prepend: site.baseurl}}>
                <div class="entry-content">
                    <h1 class="entry-title">{{post.title}}</h1>
                    <h2 class="entry-date">{{post.date | date: '%B %Y'}}</h2>
                    <div class="tags">
                        {% for tag in post.tags %}
                            <p class="tag {{tag}}">{{tag}}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="image-container">
                    <div class="color-overlay"></div>
                    <img src={{ "../" | prepend: site.baseurl | append: post.thumbnail }}>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>
</div>