---
layout: default
---

{% include header.html %}

<!-- Banner video with blurb and button that plays demo reel -->
<div class="banner">

    <div class="banner-content">
        <h1 class="banner-title">{{site.banner-title}}</h1>
        <p class="banner-copy">{{site.banner-description}}</p>
        <div class="CTA-wrapper">
            <div class="CTA">
                <a href={{site.banner-cta-link}} target="_blank">
                    <span>{{site.banner-cta}}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="video-container">
        <div class="color-overlay"></div>
        <video autoplay loop muted poster={{site.banner-thumbnail}}>
            <source src={{site.banner-video-webm}} type="video/webm">
            <source src={{site.banner-video-mp4}} type="video/mp4">
        </video>
    </div>

</div>

<div class="wrapper">

    <!-- My featured work post -->
    <div class="featured">
        <h1>Featured Work</h1>

        {% for post in site.works %}
            {% if post.id == {{site.featured-work}} %}
                <div class="banner">

                    <div class="banner-content">
                        <h1 class="banner-title">{{post.title}}</h1>
                        <div class="tags">
                            {% for tag in post.tags %}
                                <p class="tag {{tag}}">{{tag}}</p>
                            {% endfor %}
                        </div>
                        <h2 class="banner-date">{{post.date | date: '%B %Y'}}</h2>
                        <p class="banner-copy">{{post.description}}</p>
                        <div class="CTA-wrapper">
                            <div class="CTA">
                                <a href={{post.url | prepend: site.baseurl}}>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="video-container">
                        <div class="color-overlay"></div>
                        <video autoplay loop muted poster={{post.image}}>
                            <source src={{post.banner-video-webm}} type="video/webm">
                            <source src={{post.banner-video-mp4}} type="video/mp4">
                        </video>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>


    <!-- My featured blog post
    <div class="featured">
        <h1>Featured Blog</h1>

        {% for post in site.blog %}
            {% if post.id == {{site.featured-blog}} %}
                <div class="banner">

                    <div class="banner-content">
                        <h1 class="banner-title">{{post.title}}</h1>
                        <div class="tags">
                            {% for tag in post.tags %}
                                <p class="tag {{tag}}">{{tag}}</p>
                            {% endfor %}
                        </div>
                        <h2 class="banner-date">{{post.date | date: '%B %Y'}}</h2>
                        <p class="banner-copy">{{post.description}}</p>
                        <div class="CTA-wrapper">
                            <div class="CTA">
                                <a href={{post.url | prepend: site.baseurl}}>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="video-container">
                        <div class="color-overlay"></div>
                        <video autoplay loop muted poster={{post.image}}>
                            <source src={{post.banner-video-webm}} type="video/webm">
                            <source src={{post.banner-video-mp4}} type="video/mp4">
                        </video>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
    </div> -->

</div>