{% for post in paginator.posts %}
{% if post.featured == true %}

{% assign post_date = post.date | truncate: 10, "" %}
{% assign post_title = post.title | remove: " " %}
{% assign post_path = post_date | append: "-" | append: post_title  %}

<section id="banner">
  <a href="{{post.url | prepend: site.baseurl}}">
    <div class="content" data-vide-bg="{{site.baseurl}}/assets/img/posts/{{post_path}}/{{post.banner}}">
      <h1 class="title">{{post.title}}</h1>
      <div class="sub_title">
        <h2>{{post.date | date: '%Y, %b %d'}}</h2>
        {% for tag in post.tags %}
        <p class="chapter_tags {{tag}}">{{tag}}</p>
        {% endfor %}
      </div>
    </div>
  </a>
</section>

{% break %}
{% endif %}
{% endfor %}