{% for post in paginator.posts %}
    {% if post.featured == true %}

        {% assign post_date = post.date | truncate: 10, "" %}
        {% assign post_title = post.title | remove: " " %}
        {% assign post_path = post_date | append: "-" | append: post_title  %}

        <div class="wrapper">
            <section id="banner">
                <div class="content" data-vide-bg="{{site.baseurl}}/assets/img/posts/{{post_path}}/{{post.banner}}">
                    <div class="info">
                        <h1 class="title">{{post.title}}</h1>
                        <div class="sub_title">
                            {% for tag in post.tags %}
                                <p class="chapter_tags {{tag}}">{{tag}}</p>
                            {% endfor %}
                        </div>
                        <h2 class="date">{{post.date | date: '%Y, %b %d'}}</h2>
                        <p class="description">{{post.header_description}}</p>
                        <div class="CTA_holders">
                            <div class="CTA_holder">
                                <a href="{{post.url | prepend: site.baseurl}}">
                                    <div class="CTA">Read More</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% break %}
    {% endif %}
{% endfor %}